@import './root.scss';
@import './mixins.scss';
@import './login.scss';
@import './spinner.scss';

.body-test{
    background-color: #476B96;
}

.logo {
    height : 97px
}
.nav-qin{
    background-color: $primary-color;
}
  
.card-qin{
    width: 20rem;
    @media screen and (max-width: $break-small) {
        width: 19rem;
    }
}
.card-deck-qin{
    padding-top: 2rem;
}

.card-img-top-qin {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.read-more-option{
    color:$primary-color;
}

.read-more{
    display: none;
}

.btn-primary-qin{
    background-color: $primary-color !important;
    color: white !important;
    &:hover{
        background-color: $secondary-color !important;
    }  
}

.notfound-img{
    display: block;
    height: 30rem;
    max-width: 100%;
	margin:0 auto;
}

// @mixin dropdown-inside{
//     &:hover{
//         color: inherit;
//         text-decoration: none;
//     }
//     &:focus,&:active{
//         color:white;
//         background-color: $secondary-color !important;
//     }
// }

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

#btn-dropdown-custom{
    width: 100% !important;
    background-color: white;
    color:$secondary-color;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: $secondary-color;
}

.inside-btn-dropdown{
    img{
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }
    @include dropdown-inside;
}


.not-style-a{
    color: inherit;
    @include dropdown-inside;
}