//colors
$primary-color: #073571;
$secondary-color:#121870;
$success-color:#ADCEC1;
$success-color-hover: #054e26;
$success-color-letters: #077036;
$danger-color: #CCAFC3;
$danger-color-letters:#4e052a;

//breakpoints
$break-small: 600px;
// $break-large: 1200px;